<div class="container">
  <div data-controller="slides">
    <div data-slides-target="input">
      1
    </div>

    <div data-slides-target="output">

    </div>

    <div data-slides-target="navigationButtons">

    </div>

  </div>
</div>
