<h1>Editing checkbox exercise</h1>

<%= render "form", checkbox_exercise: @checkbox_exercise %>

<br>

<div>
  <%= link_to "Show this checkbox exercise", @checkbox_exercise %> |
  <%= link_to "Back to checkbox exercises", checkbox_exercises_path %>
</div>
