<h1>Editing queckbox exercise</h1>

<%= render "form", queckbox_exercise: @queckbox_exercise %>

<br>

<div>
  <%= link_to "Show this queckbox exercise", @queckbox_exercise %> |
  <%= link_to "Back to queckbox exercises", queckbox_exercises_path %>
</div>
