<p style="color: green"><%= notice %></p>

<h1>Queckbox exercises</h1>

<div id="queckbox_exercises">
  <% @queckbox_exercises.each do |queckbox_exercise| %>
    <%= render queckbox_exercise %>
    <p>
      <%= link_to "Show this queckbox exercise", queckbox_exercise %>
    </p>
  <% end %>
</div>

<%= link_to "New queckbox exercise", new_queckbox_exercise_path %>
