<div id="<%= dom_id comment %>_item" class="rounded border p-2">
  <p>
    <%= l(comment.created_at) %>
    </p>
    <hr />
  <p>
    <%= comment.content %>
  </p>
  <p>
    <%= button_to "Kommentar löschen", comment_path(comment), method: :delete, class: "btn btn-danger" %>

    <%#= button_to "Kommentar löschen", comment, method: :delete %>

    </p>

</div>
