<div id="<%= dom_id quiz_question %>">
  <p>
    <strong>Content:</strong>
    <%= quiz_question.content %>
  </p>

  <p>
    <strong>Correct anwer:</strong>
    <%= quiz_question.correct_answer %>
  </p>

</div>
