<div id="<%= dom_id quiz_question %>">
  <p>
    <strong>Content:</strong>
    <%= quiz_question.content %>
  </p>

  <p>
    <strong>Correct anwer:</strong>
    <%= quiz_question.correct_answer %>
  </p>

  <p>
    <%= link_to "Back to course", course_with_sort_url(quiz_question.quiz.slide.course, quiz_question.quiz.slide.sort) %>
  </p>

</div>
