<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Willkommen!</h1>
    <p>
      Du hast dich erfolgreich angemeldet.
    </p>
    <p>
      Beim nächsten Mal kannst du dich
      <%= link_to "hier", new_user_session_url %>
      anmelden.
    </p>
    <p>
      Möchtest du dein Konto mitsamt e-Mail-Adresse löschen?
      Das kannst du
      <%= link_to "hier", account_url(@account) %>
      tun. (Um dein Konto zu löschen, musst du angemeldet sein).
    </p>
    <p>
      Viel Vergnügen!
    </p>
  </body>
</html>
