<% if local_assigns.has_key? :redirect_after_sign_up %>
    <% redirect_after_sign_up = redirect_after_sign_up %>
  <% else %>
    <% redirect_after_sign_up = "1" %>
<% end %>
<%#= redirect_after_sign_up %>
<div class="container">

<% unless user_signed_in? %>
<div data-controller="user-sign-up"
data-user-sign-up-account-id-value="<%= @account.id %>"
data-user-sign-up-first-name-correct-value="0"
data-user-sign-up-email-correct-value="0"
data-user-sign-up-redirect-after-sign-up-value="<%= raw redirect_after_sign_up %>"
>

  <p>
    <strong>Vorname</strong>
  </p>
  <div class="input-group mb-4">
    <input type="text" class="form-control" placeholder="Max, Julia, ..." aria-label="name" aria-describedby="basic-first-name" data-user-sign-up-target="firstName">
  </div>

  <p>
    <strong>e-Mail</strong>
  </p>
  <div class="input-group mb-4">
    <input type="text" class="form-control" placeholder="max.muster@email.com" aria-label="email" aria-describedby="basic-email" data-user-sign-up-target="email">
  </div>
  <div class="alert alert-danger" role="alert" style="display: none;" data-user-sign-up-target="emailError">
    e-Mail ist bereits vergeben.
  </div>

  <div class="my-4 alert alert-success" data-user-sign-up-target="output" style="display: none;">
    Registrierung war erfolgreich!
  </div>

  <div class="" >
    <button data-user-sign-up-target="saveButton" disabled data-action="click->user-sign-up#signup" class="btn btn-primary">
      <%= t("save") %>
    </button>
  </div>
  <p class="my-5">
    &nbsp;
  </p>
</div>

<% else %>

<div class="border rounded p-2 text-center">
  <p>
    <strong>Du bist bereits angemeldet!</strong>
  </p>
  <p>
    Deine Fortschritte werden laufend gespeichert.
  </p>
</div>

<% end %>
</div>
