<div class="container">

<% unless user_signed_in? %>
<div data-controller="user-sign-up"
data-user-sign-up-account-id-value="<%= @account.id %>"
>

  <p>
    <strong>Vorname</strong>
  </p>
  <div class="input-group mb-4">
    <input type="text" class="form-control" placeholder="Max, Julia ..." aria-label="name" aria-describedby="basic-first-name" data-user-sign-up-target="firstName">
  </div>

  <p>
    <strong>e-Mail</strong>
  </p>
  <div class="input-group mb-4">
    <input type="text" class="form-control" placeholder="max.muster@email.com" aria-label="name" aria-describedby="basic-email" data-user-sign-up-target="email">
  </div>

  <div data-user-sign-up-target="output">
  </div>

  <button data-action="click->user-sign-up#signup" class="btn btn-primary">
    <%= t("save") %>
  </button>
  <p class="my-5">
    &nbsp;
  </p>
</div>
<% else %>

<div class="border rounded p-2 text-center">
  <p>
    <strong>Du bist angemeldet!</strong>
  </p>
  <p>
    Deine Fortschritte werden laufend gespeichert.
  </p>
</div>

<% end %>
</div>
