<div id="<%= dom_id point_system %>">
  <p>
    <strong>Total possible points:</strong>
    <%= point_system.total_possible_points %>
  </p>

  <p>
    <strong>Points deduction for mistake:</strong>
    <%= point_system.points_deduction_for_mistake %>
  </p>

</div>
