<div id="<%= dom_id checkbox %>">
  <p>
    <strong>Content:</strong>
    <%= checkbox.content %>
  </p>

  <p>
    <strong>Checkbox exercise:</strong>
    <%= checkbox.checkbox_exercise_id %>
  </p>

</div>
