<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Lernkurs - philosophie.ch</h1>
    <p>
      Kurs "<%= @course.name %>" abgeschlossen.
    </p>
    <p>
      <%= @account.course_points(@course.id) %> von <%= @account.total_possible_course_points(@course.id) %>
    </p>
  </body>
</html>
