<h1>Editing cost benefit analysis</h1>

<%= render "form", cost_benefit_analysis: @cost_benefit_analysis %>

<br>

<div>
  <%= link_to "Show this cost benefit analysis", @cost_benefit_analysis %> |
  <%= link_to "Back to cost benefit analyses", cost_benefit_analyses_path %>
</div>
