<p style="color: green"><%= notice %></p>

<h1>Cost benefit analyses</h1>

<div id="cost_benefit_analyses">
  <% @cost_benefit_analyses.each do |cost_benefit_analysis| %>
    <%= render cost_benefit_analysis %>
    <p>
      <%= link_to "Show this cost benefit analysis", cost_benefit_analysis %>
    </p>
  <% end %>
</div>

<%= link_to "New cost benefit analysis", new_cost_benefit_analysis_path %>
