<p>
    Du hast <strong><span data-points-target="output" ><%= @account.course_points(slide.course.id) %></span> Punkte</strong> von <%= @account.total_possible_course_points(slide.course.id) %> gesammelt.
</p>


<!--HTML from anywhere
<div data-controller="medal">
-->
<!--
  <button data-action="click->medal#greet">
    Show / Hide
  </button>
-->
  <hr>
  <div data-medal-target="medalImage" class="text-center border rounded p-4">
    <%= render "courses/medal_congratulation", course: slide.course %>
  </div>

  <!--HTML from anywhere
  </div>
  -->
