<%= render "layouts/navigation" %>

<div class="container">

      <h1 class="text-center my-3">Alle Lernkurse von philosophie.ch</h1>
      <%= render "courses/courses_by_group", courses: Course.all %>


      <% if policy(Course).create? %>
        <hr>
        <%= link_to t("helpers.submit.create", model: Course.model_name.human), new_course_path, class: "action-button-d-color text-dark" %>
      <% end %>


</div>

<%= render "layouts/footer" %>
