<h1>Editing sorting exercise</h1>

<%= render "form", sorting_exercise: @sorting_exercise %>

<br>

<div>
  <%= link_to "Show this sorting exercise", @sorting_exercise %> |
  <%= link_to "Back to sorting exercises", sorting_exercises_path %>
</div>
