<p>Mit diesem Link kannst du dich direkt beim Lernkurs anmelden:</p>

<p><%= link_to "Zugangslink", send("#{@scope_name.to_s.pluralize}_magic_link_url", Hash[@scope_name, {email: @resource.email, token: @token, remember_me: @remember_me}]) %></p>

<p>Der Link ist in 20 Minuten nicht mehr gültig.</p>
