<header>
  <div class="collapse bg-a-color" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-black">Über uns</h4>
          <p class="text-black">
            Die Plattform Philosophie.ch gibt der Öffentlichkeit ein Instrument zur Hand sich über die akademische Philosophie und Forschung, sowie über andere philosophische Aktivitäten in der Schweiz zu informieren.
          </p>
          <p class="text-black">
            Dieser Lernkurs wurde durch die grosszügige Unterstützung der Ernst Göhner Stiftung ermöglicht.
          </p>
          <p class="text-black">

            <%#= image_tag "Ernst-Göhner-Stiftung-Logo.webp", class: "img-fluid my-3", width: 300, height: 200 %>
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-black">Kontakt & Links</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-black">Follow on Twitter</a></li>
            <li><a href="#" class="text-black">Like on Facebook</a></li>
            <li><a href="#" class="text-black">Email me</a></li>
            <% unless @account.blank? %>
              <li>
                <%= link_to t("my_account"), account_path(@account), class: "text-black" %>
              </li>
            <% end %>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar bg-a-color">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <%#= image_tag "Philosophie-ch-Logo-200x44.webp", class: "navbar-brand-image", width: 200, height: 44 %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
